<template>
  <article>
    <table>
      <thead>
        <tr>
          <th> Field </th>
          <th> Value </th>
          <th> Sign </th>
          <th> Arrow </th>
          <th> Change </th>
        </tr>
      </thead>
      <tbody>
        <tr class="row" :class="{'disabled': !element.change }"
          v-for="element in fields" :key="element.letter"
        >
          <td> {{element.letter}} </td>
          <td> {{element.value}} </td>
          <td> {{element.sign}} </td>
          <td> <span :class="{ 'up': element.sign == '+', 'down': element.sign == '-' }"> 
            {{ !element.sign ? '' : element.sign == '+' ? '&uarr;' : '&darr;' }} </span>
          </td>
          <td> <input type="checkbox" v-model="element.change" @change="changed(element)"> </td>
        </tr>
      </tbody>
    </table>
  </article>
</template>

<script>
import store from '../store'

export default {
  name: 'Home',
  data() {
    return {
      signs: ['+','-'],
      all_letters: [],
      interval: null,
      fields: store.getters.getFields, 
    }
  },
  methods: {
    changed(element) {
      if(element.change) return // When element unpaused - do nothing. Else - display notification
      this.$toasted.show(element.letter + " stoped!", {position: "top-right", duration : 2000})
    },
    get_all_fields() {
      this.fields.forEach(element => {
        this.all_letters.push(element.letter)
      })
    },
    create_chart_stats() {
      // generate empty template for chart data only once
      if(store.state.statistics.length < this.fields.length) {
        this.fields.forEach(element => {
          store.commit('UPDATE_STATISTICS', {label: element.letter, data: []})
        })
      }
    },
    formated_time() {
      let hours = new Date().getHours()
      let minutes = new Date().getMinutes()
      let seconds = new Date().getSeconds()

      if(hours < 10) hours = '0' + hours
      if(minutes < 10) minutes = '0' + minutes
      if(seconds < 10) seconds = '0' + seconds
      
      return hours + ':' + minutes + ':' + seconds // 10:56:25
    },
    change_value() {
      this.interval = setInterval(() => {
        this.fields.forEach(element => {
          // if change is disabled for this field it keeps old known value
          if(element.change) {
            element.value = Math.floor((Math.random() * 2) + 1)         // rand number 1-2
            element.sign = this.signs[Math.floor((Math.random() * 2))]  // rand number 0-1
          }

          let index = 0
          this.all_letters.forEach(letter => {
            if(letter == element.letter) store.state.statistics[index].data.push(element.value)
            index++
          })
        })// end foreach loop

        // updating store via mutation
        store.commit('UPDATE_TIMESTAMPS', {timestamps: this.formated_time()})
      }, 2000)
    },
    stop_interval() {clearInterval(this.interval)}
  },
  beforeMount() {
    this.get_all_fields()
    this.create_chart_stats()
    this.change_value()
  },
  beforeRouteLeave(to, from, next) {
    this.stop_interval()
    this.$toasted.show("Interval has been stoped!", {position: "bottom-center", duration : 2000})
    next()
  }
}
</script>

<style lang="sass">
  table 
    margin: 2rem auto 0
    border-collapse: collapse
    background-color: #464E5B
    th, td 
      padding: 0.8rem 2rem
    thead
      color: #4995EA
    tbody
      tr:nth-child(odd)
        background-color: #505967
      td:first-child 
        font-weight: 600
        
  input[type="checkbox"]
    cursor: pointer
  .up 
    color: lime
  .down 
    color: red
  .disabled
    outline: 1px dashed tomato
    opacity: 0.5

  .row
    position: relative
  .disabled::after
    content: 'zZzZ'
    position: absolute
    margin-left: 10px
    font-size: 14px
    font-style: italic
    opacity: 0.5
    transform: rotate(-5deg)
</style>
