<template>
  <section>
    <StatsChart :chart_data='chartdata'/>
    <PieChart />
  </section>
</template>

<script>
import store from '../store'
import StatsChart from '../components/StatsChart'
import PieChart from '../components/PieChart'

export default {
  name: 'Statistics',
  components: {StatsChart, PieChart},
  data() {
    return {
      chartdata: {
        labels: store.state.timestamps,   
        raw_data: store.state.statistics,
        today: this.today()
      },
    }
  },
  methods: {
    today() {
      let days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
      let months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

      const time = new Date()
      let day = time.getDay()
      let date = time.getDate()
      let month = time.getMonth()
      let year = time.getFullYear()

      return 'Stats for: ' + days[day] + ', ' + date + ' ' + months[month] + ' ' + year + '.'
    }
  },
}
</script>