<template>
  <article>
    <div class="select-wrapper">
      <label> Select field </label>
      <select v-model="selectedField" @change="feed_values(selectedField)">
        <option v-for="field in statistics" :key="field.label"> {{field.label}} </option>
      </select>
    </div>
    <canvas ref="piediv" height="40"></canvas>
  </article>
</template>

<script>
/* eslint-disable */
import Charts from 'vue-chartjs'
import store from '../store'

export default {
  data() {
    return{ 
      selectedField: 'A',
      fieldValues: [],
      repeating_values: [],
      statistics: store.getters.getStats, 
    }
  },
  watch: {
    fieldValues() {
      let value1 = []
      let value2 = []
      let value3 = []

      this.fieldValues.forEach(element => {
        if(element == 1) value1.push(element)
        if(element == 2) value2.push(element)
        if(element == 3) value3.push(element)

        this.repeating_values = [value1.length, value2.length, value3.length]
        this.show_pie()
      })
    }
  },
  methods: {
    feed_values(val) {
      this.fieldValues = []
      this.statistics.forEach(element => {
        if(element.label == val) {
          this.fieldValues.push(...element.data) //spread operator to avoid [[]]
        }
      })
    },
    show_pie() {
      let pieChart = this.$refs.piediv.getContext('2d')
      
      if(window.pieChart != undefined) // revents multiple chart renders
        window.pieChart.destroy()
      window.pieChart = new Chart(pieChart, {
        type: 'pie',
        data:{
          labels: ['Value 1', 'Value 2', 'Value 3'],
          datasets:[
            {
              data: this.repeating_values, 
              backgroundColor:['rgba(85, 134, 166, 0.6)', 'rgba(154, 212, 224, 0.6)', 'rgba(246, 210, 88, 0.6)'],
              borderWidth: 0,
            }
          ]
        },
        options: {
          responsive: true,
          maintaintAspectRatio: false,
          title:{
            display:true,
            text:'Repeating values for field '+ this.selectedField,
            fontSize:18,
            fontColor: '#B9C3CE',
          },
          legend:{
            display:true,
            position:'bottom',
            labels:{
              fontColor:'#4995EA',
              fontSize: 18,
            }
          },
        }
      })
    }
  },
  mounted() {
    this.show_pie()
    this.feed_values('A')
  }
}
</script>

<style lang="sass">
  .select-wrapper
    margin-top: 50px
</style>