<template>
  <article>
    <label> Preview </label>
    <select v-model="chartType" @change="show_chart">
      <option value="line"> Line </option>
      <option value="bar"> Bar </option>
      <option value="horizontalBar"> Horizontal </option>
    </select>
    <canvas ref="chartdiv" height="50"></canvas>
  </article>
</template>

<script>
/* eslint-disable */
import Charts from 'vue-chartjs'

export default {
  props: {
    chart_data: {type: Object, default: null}
  },
  data() {
    return {
      chartType: 'line',
      formated_data: [],
      raw_data: this.chart_data.raw_data,
    }
  },
  methods:{
    show_chart() {
      this.formated_data = [] // prevent build-ups

      // set color palette for fields
      let colors = [
        'rgba(255, 99, 132, 0.6)',
        'rgba(54, 162, 235, 0.6)',
        'rgba(255, 206, 86, 0.6)',
        'rgba(75, 192, 192, 0.6)',
        'rgba(153, 102, 255, 0.6)',
        'rgba(255, 159, 64, 0.6)',
        'rgba(255, 99, 132, 0.6)',
        'rgba(208, 48, 118, 0.6)',
        'rgba(189, 189, 191, 0.6)',
        'rgba(209, 175, 148, 0.6)',
      ]

      // Format raw data into finished format for charts (adding colors, fills)
      let index = 0 
      this.raw_data.map(element => {
        this.formated_data.push({
          label: element.label,
          data: element.data,
          backgroundColor: colors[index],
          borderColor: colors[index],
          fill: false,
          borderWidth: 1,
        })
        index++
      })

      // Chart settings
      let statsChart = this.$refs.chartdiv.getContext('2d')

      if(window.chart != undefined) // this prevents hover errors when changing views
        window.chart.destroy()
      window.chart = new Chart(statsChart, {
        type: this.chartType,
        data:{
          labels: this.chart_data.labels, // timestamps
          datasets: this.formated_data    // finished data
        },
        options: { // Chartjs stuff for style
          responsive: true,
          maintaintAspectRatio: false,
          title: {
            display: true,
            text: this.chart_data.today,
            fontColor: '#B9C3CE',
            fontSize: 18,
            padding: 10
          },
          legend:{
            display:true,
            position:'bottom',
            labels:{
              fontColor:'#4995EA',
              fontSize:16
            }
          },
          scales: {
            yAxes: [{
              ticks: {
                suggestedMin: 0,
                suggestedMax: 3,
                stepSize: 1,
                fontColor: '#B9C3CE',
                fontSize: 16,
              }
            }],
            xAxes: [{
              ticks: {
                suggestedMin: 0,
                suggestedMax: 3,
                stepSize: 1,
                fontColor: '#B9C3CE',
                fontSize: 14,
                padding: 10
              }
            }]
          },
          layout:{
            padding:{
              left: 10,
              right: 10,
              bottom: 0,
              top: 0
            }
          },
          tooltips:{
            enabled:true
          },
        },
      })
    }
  },
  mounted() {
    this.show_chart()
  }
}
</script>

<style lang="sass">
  select
    padding: 7px 15px
    border-radius: 15px
    outline: none
    cursor: pointer
    background-color: #505967
    color: #fff
    border: none
    margin: 0 0 15px 15px
</style>>