<template>
  <div id="app">
    <div id="nav">
      <router-link to="/"> Table </router-link> |
      <router-link to="/statistics"> Statistics </router-link>
    </div>
    <router-view/>
  </div>
</template>

<style lang="sass">
* 
  font-family: Avenir, Helvetica, Arial, sans-serif
  box-sizing: border-box

body
  background: rgb(36,40,47)
  background: linear-gradient(90deg, rgba(36,40,47,1) 0%, rgba(62,70,82,1) 35%, rgba(36,40,47,1) 100%)

#app 
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-align: center
  color: #B9C3CE
#nav 
  padding: 30px;
a 
  font-weight: bold
  color: #B9C3CE
  text-decoration: none

  &.router-link-exact-active 
    color: #42b983
</style>
